:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

html {
    color: black;
    background-color: #CEE5D0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
    color: #d98755;
    text-align: center;
    font-size: 40px;
}

#sizeSlider {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30rem;
    height: 8px;
    border: none;
    border-radius: 4px;
    background-color: #32b861;
}

#sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #d98755;
    cursor: pointer;
}

button {
    background-color: #CEE5D0;
    color: black;
    border: 2px solid green;
    width: 15rem;
    padding: 1rem;
    font-size: 20px;
}

button:hover {
    transform: scale(1.1);
}

#container {
    width: 600px;
    height: 600px;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.active {
    background-color: #32b861;
    color: #dc5d0f;
    font-weight: bolder;
}

.grid {
    border: 1px solid black;
}