@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');

:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

html {
    color: black;
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 1.5rem 0;
    color: #6830BF;
    text-align: center;
    font-size: 40px;
    font-family: 'Rubik Maze', Helvetica;
}

/* Slider */
#sizeSlider {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15rem;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
}

#sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #6830BF;
    cursor: pointer;
}

#sizeValue {
    font-size: large;
}

/* Color Input */
input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 3rem;
    padding: 0;
    width: 15rem;
}
  
*:focus{
    border-radius: 0;
    outline: none;
}
  
::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
::-webkit-color-swatch{
    border: 0;
    border-radius: 50px;
}

::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}

::-moz-focus-inner{
  padding: 0;
}

/* Button */
button {
    background-color: white;
    color: black;
    border: 2px solid #594080;
    width: 15rem;
    padding: 1rem;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    border-radius: 10px;
}

.right-button {
    border: none;
    height: 3rem;
}

.rg {
    background-image: linear-gradient(to right, #ff0000 50%, #008000 50%);
}

.gb {
    background-image: linear-gradient(to right, #008000 50%, #0000ff 50%);
}

.br {
    background-image: linear-gradient(to right, #0000ff 50%, #ff0000 50%);
}

.active {
    background-color: #594080;
    color: #ffffff;
    font-weight: bolder;
    border: 3px solid #594080;
    border-radius: 10px;
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.5);
}

#clearBtn {
    background-color: #e84545;
    border: none;
}

#clearBtn:focus {
    border-radius: 10px;
}

/* Right side buttons */
.right-controls>div {
    display: flex;
    gap: 16px;
}

.right-controls>div>button {
    width: 8rem;
}

.prompt {
    border-radius: 10px;
}

.red {
    background-color: #ff0000;
}

.blue {
    background-color: #0000ff;}

.green {
    background-color: #008000;
}

/* Draw Board */
#container {
    width: 600px;
    height: 600px;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    /* border: 3px solid #6830BF; */
}

.grid {
    border: 1px solid #594080;
}

/* Sections */
.left-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
}

.right-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

main {
    display: flex;
    justify-content: center;
    gap: 5rem;
    /* flex-wrap: wrap; */
}

/* Footer */
.foo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.foo a {
    text-decoration: none;
    color: black;
}

.foo a:hover {
    color: #6830BF;
}
